{% extends 'base.html.twig' %}

{% block title %} <title> Home </title> {% endblock %}


{% block container %}

    <div class="hero-wrap ftco-degree-bg" style="background-image: url('/images/bg.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text justify-content-start align-items-center justify-content-center">
        <div class="col-lg-8 ftco-animate">
            <div class="text w-100 text-center mb-md-5 pb-md-5">
              <h1 class="mb-4">Un moyen rapide et facile de louer une voiture</h1>
              <p style="font-size: 18px;">les meilleurs voitures et services de réparation offerts par le Garage V.Parrot</p>
              <a href="https://vimeo.com/45830194" class="icon-wrap popup-vimeo d-flex align-items-center mt-4 justify-content-center">
                  <div class="icon d-flex align-items-center justify-content-center">
                      <span class="ion-ios-play"></span>
                  </div>
                  <div class="heading-title ml-5">
                      <span>Easy steps for renting a car</span>
                  </div>
              </a>
          </div>
        </div>
      </div>
    </div>
    </div>

    <section class="ftco-section ftco-no-pt bg-light">
      <div class="container">
          <div class="row no-gutters">
              <div class="col-md-12	featured-top">
                  <div class="row no-gutters">
                        <div class="col-md-4 d-flex align-items-center">
                          
                        </div>
                        <div class="col-md-12 d-flex align-items-center">
                            <div class="services-wrap rounded-right w-100">
                                <h3 class="heading-section mb-4 text-center">Une meilleure façon de louer vos voitures idéales</h3>
                                <div class="row d-flex mb-4">
                            <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                              <div class="services w-100 text-center">
                                <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-route"></span></div>
                                <div class="text w-100">
                                  <h3 class="heading mb-2">Choisissez votre lieu de prise en charge</h3>
                              </div>
                              </div>      
                            </div>
                            <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                              <div class="services w-100 text-center">
                                <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-handshake"></span></div>
                                <div class="text w-100">
                                  <h3 class="heading mb-2">Sélectionnez la meilleure offre</h3>
                                </div>
                              </div>      
                            </div>
                            <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                              <div class="services w-100 text-center">
                                <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-rent"></span></div>
                                <div class="text w-100">
                                  <h3 class="heading mb-2">Réservez votre voiture de location</h3>
                                </div>
                              </div>      
                            </div>
                          </div>
                          <p class="text-center"><a href="#" class="btn btn-black py-3 px-4 font-weight-bold">Réservez votre voiture idéale</a></p>
                            </div>
                        </div>
                    </div>
              </div>
        </div>
    </section>

    <section class="ftco-section ftco-no-pt bg-light">
        <div class="container">
            <div class="row justify-content-center">
            <div class="col-md-12 heading-section text-center ftco-animate mb-5">
                <span class="subheading">CE QUE NOUS OFFRONS</span>
            <h2 class="mb-2">Nos Véhicules D'occasions</h2>
            </div>
        </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="carousel-car owl-carousel">

                        {% for data in datas %}

                        <div class="car-wrap rounded ftco-animate">
                            <div class="img rounded d-flex align-items-end">
                              <img src="{{asset('images/')}}{{data.image}}" width="10:rem" height= "240" class="card-img-top" alt="..." >
                            </div>
                            <div class="text">
                                <h2 class="mb-0"><a href="car-single.html">{{data.nom}}</a></h2>
                                <div class="mb-3">
                                    <span class="cat text-dark mt-2">Année : {{data.annee}}</span>
                                    <span class="cat text-dark">{{data.marque}}</span>
                                    <span class="cat text-dark">{{data.kilometrage}} km</span>
                                    <hr class="bg-dark" />
                                    <span class="price ml-auto text-dark font-weight-bold">{{data.prix}} €</span>
      
                                </div>
                                <p class="mb-0 d-block text-center"><a href="car-single.html" class="btn btn-dark py-2 ml-1">Details</a></p>
                            </div>
                        </div>
                        
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section ftco-about">
            <div class="container">
                <div class="row no-gutters">
                    <div class="col-md-6 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url(images/about.jpg);">
                    </div>
                    <div class="col-md-6 wrap-about ftco-animate">
                <div class="heading-section heading-section-white pl-md-5">
                    <span class="subheading">À PROPOS DE NOUS</span>
                <h2 class="mb-4">Bienvenue au Garage V.Parrot</h2>

                <p>
                    Au Garage V. Parrot, la confiance est au cœur de notre approche. Chaque voiture qui franchit nos portes est traitée avec le plus grand soin, dans le respect des normes les plus rigoureuses de l'industrie. Nous ne faisons aucun compromis quand il s'agit de la sécurité et de la fiabilité de votre véhicule.
                </p>
                <p>
                    Au fil des deux dernières années, nous avons également élargi notre offre en mettant en vente des véhicules d'occasion de qualité, contribuant ainsi à diversifier nos services et à répondre aux besoins de notre clientèle.
                </p>
                <p>
                    Nous sommes fiers de l'équipe de professionnels dévoués qui travaillent à nos côtés pour offrir un service personnalisé à chaque client. Chez Garage V. Parrot, nous sommes convaincus que notre succès réside dans la satisfaction de nos clients. C'est pourquoi nous sommes déterminés à fournir un service de la plus haute qualité à chacun d'entre vous.
                </p>
                </div>
                    </div>
                </div>
            </div>
    </section>

    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center mb-5">
        <div class="col-md-7 text-center heading-section ftco-animate">
        <span class="subheading">Services</span>
        <h2 class="mb-3">Our Latest Services</h2>
        </div>
    </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="services services-2 w-100 text-center">
            <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-wedding-car"></span></div>
            <div class="text w-100">
            <h3 class="heading mb-2">Wedding Ceremony</h3>
            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
            </div>
        </div>
                </div>
                <div class="col-md-3">
                    <div class="services services-2 w-100 text-center">
            <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-transportation"></span></div>
            <div class="text w-100">
            <h3 class="heading mb-2">City Transfer</h3>
            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
            </div>
        </div>
                </div>
                <div class="col-md-3">
                    <div class="services services-2 w-100 text-center">
            <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-car"></span></div>
            <div class="text w-100">
            <h3 class="heading mb-2">Airport Transfer</h3>
            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
            </div>
        </div>
                </div>
                <div class="col-md-3">
                    <div class="services services-2 w-100 text-center">
            <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-transportation"></span></div>
            <div class="text w-100">
            <h3 class="heading mb-2">Whole City Tour</h3>
            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
            </div>
        </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section ftco-intro" style="background-image: url(images/bg_3.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-md-6 heading-section heading-section-white ftco-animate">
                    <h4 class="mb-3 text-white font-weight-bold">Notre garage offre les meilleurs services, n'hésitez pas à nous contacter !</h4>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section testimony-section bg-light">
        <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center heading-section ftco-animate">
                <span class="subheading">Témoignages</span>
            <h2 class="mb-3">Clients satisfaits</h2>
            </div>
        </div>
        <div class="row ftco-animate">
            <div class="col-md-12">
            <div class="carousel-testimony owl-carousel ftco-owl">

                {% for a in datasA %}
                <div class="item">
                <div class="testimony-wrap rounded text-center py-4 pb-5">
                    <div class="user-img mb-2">Témoignages</div>
                    <div class="text pt-4">
                    <p class="mb-4">{{a.commentaire}}</p>
                    <p class="name">{{a.note}}</p>
                    <span class="position">{{a.nom}}</span>
                    </div>
                </div>
                </div>
                {% endfor %}

            </div>
            </div>
        </div>
        </div>
    </section>

    <section class="ftco-counter ftco-section img bg-light" id="section-counter">
        <div class="overlay bg-danger"></div>
        <div class="container">
            <div class="row">
            <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
            <div class="block-18">
                <div class="text text-border d-flex align-items-center">
                <strong class="number" data-number="60">0</strong>
                <span>Année<br>d'expérience</span>
                </div>
            </div>
            </div>
            <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
            <div class="block-18">
                <div class="text text-border d-flex align-items-center">
                <strong class="number" data-number="1090">0</strong>
                <span>Total <br>des voitures</span>
                </div>
            </div>
            </div>
            <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
            <div class="block-18">
                <div class="text text-border d-flex align-items-center">
                <strong class="number" data-number="2590">0</strong>
                <span>Clients <br>satisfaits</span>
                </div>
            </div>
            </div>
            <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
            <div class="block-18">
                <div class="text d-flex align-items-center">
                <strong class="number" data-number="67">0</strong>
                <span>Total <br>des succursales</span>
                </div>
            </div>
            </div>
        </div>
        </div>
    </section>

{% endblock %}