{% extends 'layout/layout.html.twig' %}

{% block title %} <title> Espace utilisateur </title>{% endblock %}


{% block container %}

<div class="mb-5">
    <a href="{{path('app_add_service')}}" class="btn btn-light float-end me-4 fw-bolder"><i class="fas fa-plus-circle me-1"></i>Nouveau Service</a>
</div>


<div class="py-4 container">
    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-header pb-0">
            <h6>Listes des services</h6>
          </div>
          <div class="card-body px-0 pt-0 pb-2 mt-3">
            <div class="table-responsive p-0">
              <table class="table align-items-center mb-0">
                <thead>
                  <tr>
                    <th class="text-uppercase text-center text-secondary text-xxs font-weight-bolder opacity-7">Nom du service</th>
                    <th class="text-uppercase text-center text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Description</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Catégorie</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Disponibilité</th>
                    <th class="text-secondary text-center opacity-7">Actions</th>
                  </tr>
                </thead>
                <tbody>

                  {% for data in datas %}

                      <tr>
                        <td class="align-middle text-center text-sm">
                            <p class="text-xs font-weight-bold mb-0">{{data.nomService}}</p>
                        </td>
                        <td>
                            <p class="text-xs font-weight-bold mb-0" style="white-space: pre-line;">{{data.description}}</p>
                        </td>
                        <td class="align-middle text-center">
                          <span class="text-secondary text-xs font-weight-bold">{{data.categorie}}</span>
                        </td>
                        <td class="align-middle text-center text-sm">
                          <span class="badge badge-sm bg-gradient-success">{{data.disponible}}</span>
                        </td>
                        <td class="align-middle me-5">
                          <a  href="{{path('app_edit_service',{'idService': data.id})}}" class="btn bg-gradient-dark text-white font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                            <i class="fas fa-sync-alt me-1"></i>
                            Modifier
                          </a>
                          <a  href="{{path('app_destroy_service',{'idService': data.id})}}" class="btn bg-gradient-danger text-white font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                            <i class="fas fa-trash me-1"></i>
                              Supprimer
                          </a>
                        </td>
                      </tr>

                  {% endfor %}

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

{% endblock container %}