{% extends 'layout/layout.html.twig' %}

{% block title %} <title> Espace utilisateur </title>{% endblock %}


{% block container %}

<div class="mb-5">
    <a href="{{path('app_admin_add_horaire')}}" class="btn bg-gradient-light float-end me-3 fw-bolder"><i class="fas fa-plus-circle me-2"></i>Nouvelle Horaire</a>
</div>


<div class="container-fluid py-4">
    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-header pb-0">
            <h6>Horaire d'Ouverture</h6>
          </div>
          <div class="card-body px-0 pt-0 pb-2">
            <div class="table-responsive p-0">
              <table class="table align-items-center mb-0">
                <thead>
                  <tr>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Jour</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Heure Ouverture</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Heure Fermeture</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Actions</th>
                  </tr>
                </thead>
                <tbody>

                  {% for data in datas %}

                    <tr>
                        <td class="align-middle text-center text-sm">
                            <h6 class="mb-0 text-sm">{{data.jour}}</h6>
                        </td>
                        <td class="align-middle text-center text-sm">
                          <p class="badge badge-sm bg-gradient-success">{{data.heureOuverture|date('H:i')}}</p>
                        </td>
                        <td class="align-middle text-center text-sm">
                          <span class="badge badge-sm bg-gradient-danger">{{data.heureFermeture|date('H:i')}}</span>
                        </td>
                        <td class="align-middle text-center">
                            <a href="{{path('app_edit_horaire',{'idHoraire': data.id})}}"  class="btn bg-gradient-dark font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                              <i class="fas fa-sync-alt me-1"></i>
                              Modifier
                            </a>
                        </td>
                    </tr>

                  {% endfor %}

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

{% endblock container %}